Repository arnab2001/Ledged, pull requests merged in 2023-02, with the labels that each got.

#1 feat: added smart contract
  smartcontract/.gitignore
  smartcontract/README.md
  smartcontract/contracts/OrgContract.sol
  smartcontract/hardhat.config.js
  smartcontract/package-lock.json
  smartcontract/package.json
  smartcontract/scripts/deploy.js
  smartcontract/test/Lock.js
Labels: enhancement, blockchain

#3 feat: Initialised Client
  client/.gitignore
  client/index.html
  client/package.json
  client/src/App.jsx
  client/src/app.css
  client/src/main.jsx
  client/vite.config.js
Labels: client

#5 feat: Added Header Component
  client/src/components/header/Header.jsx
  client/src/components/header/header.css
Labels: enhancement, client, ui

#7 feat: Added Navbar Component
  client/src/components/navbar/Navbar.jsx
  client/src/components/navbar/navbar.css
Labels: enhancement, client, ui

#9 feat: Added LedgerNavbar Component
  client/src/components/ledNav/LedNav.jsx
  client/src/components/ledNav/lednav.css
Labels: ui

#11 feat: Added WhyUs Component
  client/src/components/whyUs/WhyUs.jsx
  client/src/components/whyUs/whyUs.css
Labels: enhancement, client, ui

#13 Client
  client/src/components/footer/Footer.jsx
  client/src/components/footer/footer.css
Labels: enhancement, client

#14 Feat: Index.js Component
  client/src/components/index.js
Labels: bug

#16 Feat: Assets
  client/src/assets/about__animation.json
  client/src/assets/avatar__animation.json
  client/src/assets/cashier__animation.json
  client/src/assets/ledger__animation.json
  client/src/assets/logo.png
  client/src/assets/user.jpg
Labels: bug, client

#18 feat:container
  client/src/containers/avatar/Avatar.jsx
  client/src/containers/avatar/avatar.css
  client/src/containers/index.js
  client/src/containers/landing/Landing.jsx
  client/src/containers/landing/landing.css
Labels: bug, ui

#19 feat: Ledger PastLedger Containers
  client/src/containers/ledger/Ledger.jsx
  client/src/containers/ledger/ledger.css
  client/src/containers/pastLedger/PastLedger.jsx
  client/src/containers/pastLedger/pastLedger.css
Labels: client, ui

#20 feat: intigrated smartcontract with client
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/Util/keys.js
  client/src/Util/web3Storage.js
  client/src/components/header/Header.jsx
  client/src/components/ledNav/LedNav.jsx
  client/src/components/navbar/Navbar.jsx
  client/src/containers/avatar/Avatar.jsx
  client/src/containers/ledger/Ledger.jsx
  client/src/containers/pastLedger/PastLedger.jsx
  client/src/containers/pastLedger/Rightcontainer.jsx
  client/src/context/Web3Context.jsx
  client/src/contract/OrgContract.json
  client/src/main.jsx
  smartcontract/contracts/.sol
  smartcontract/contracts/OrgContract.sol
  smartcontract/hardhat.config.js
  smartcontract/package-lock.json
  smartcontract/package.json
  smartcontract/scripts/deploy.js
Labels: enhancement, blockchain
